<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/res/defTheme.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon"
          type="image/png"
          href="/res/favicon.png" />
    <meta name="theme-color" content="#282629" />
    <title>404: Not found</title>
    <style>
        * {
            text-align: center;
        }
        * {
            font-family: 'Fira Code', monospace;
        }
        img {
            height: 65vh;
        }
        textarea {
            margin: 1em;
            background-color: #282629;
            color: #FFFCFF;
            border: 0.1em #FFFCFF dashed;
            text-align: left;
        }
    </style>
    <script>
        function suggest() {
            let form = document.createElement("form");
            let label = document.createElement("label");
            label.htmlFor = "suggestion";
            label.innerHTML = "<br><br>My idea for " + window.location.pathname + " is: <br>";
            let input = document.createElement("textarea");
            input.name = "suggestion";
            let sub = document.createElement("input");
            sub.type = "submit";
            sub.value = "Send it! 📤";
            let hidden = document.createElement("input");
            hidden.type = "hidden";
            hidden.name = "path";
            hidden.value = window.location.pathname;
            form.appendChild(label);
            form.appendChild(input);
            form.appendChild(document.createElement("br"))
            form.appendChild(hidden);
            form.appendChild(sub);
            form.method = "post";
            document.body.appendChild(form);
        }
    </script>
</head>
<body>
    <h1>404: Az oldal nem található.</h1>
    <h2>{{randQuote}}</h2>
    <a href="/"><h2>Irány a főoldalra!</h2></a>
    Have an idea of what should be here? <a href="#" onclick="suggest(); return false;">Make a suggestion.</a>
</body>
</html>