<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/res/defTheme.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon"
          type="image/png"
          href="/res/favicon.png" />
    <meta name="theme-color" content="#282629" />
    <title>Thanks for the suggestion!</title>
    <style>
        * {
            text-align: center;
        }
        * {
            font-family: 'Fira Code', monospace;
        }
        img {
            height: 65vh;
        }
        textarea {
            margin: 1em;
            background-color: #282629;
            color: #FFFCFF;
            border: 0.1em #FFFCFF dashed;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Thank you for your suggestion!</h1>
<p>Your suggestion for {{.Path}} was saved.</p>
<p>Your suggestion was the following:</p>
{{.Sug}}
<a href="/"><h2>Back to the homepage</h2></a>
</body>
</html>