<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/res/defTheme.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon"
          type="image/png"
          href="/res/favicon.png" />
    <meta name="theme-color" content="#282629" />
    <title>Manager</title>
    <style>
        * {
            font-family: 'Fira Code', monospace;
        }
        img {
            height: 65vh;
        }
        textarea {
            margin: 1em;
            background-color: #282629;
            color: #FFFCFF;
            border: 0.1em #FFFCFF dashed;
            text-align: left;
        }
        .name {
            color: #CC78FA;
            display: inline;
        }
        .circle {
            border-radius: 50%;
            color: #282629;
            font-weight: 900;
            width: 1.2em;
            height: 1.2em;
            line-height: 1.2em;
            text-align: center;
            cursor: pointer;
            margin-left: 2em;
            display: inline-block;
        }
        #saved {
            display: none;
            color: #A4CC35;
            transition: color 1s;
        }
    </style>
    <script>
        window.data = JSON.parse("{{.JSON}}");
        if (window.data.Users === null) {
            window.data.Users = [];
        }
    </script>
</head>
<body>
    <h1>Mateking manager</h1>
    <div id="content"></div>
    <br>
    <button id="send" onclick="save()">Save</button>
    <div id="saved">Saved!</div>

    <script>
        function addUser(index) {
            window.data.Users.splice(index, 0, {
                "Email": "",
                "Pw": "",
                "Scope": [],
            });
            updateContent();
        }

        function removeUser(index) {
            window.data.Users.splice(index, 1);
            updateContent();
        }

        function addBtn(elem, color, txt, fn) {
            let button = document.createElement("div");
            button.className = "circle";
            button.innerText = txt;
            button.style.backgroundColor = color;
            button.onclick = fn;
            elem.appendChild(button);
        }

        function addRemoveUser(elem, index) {
            addBtn(elem, "#FF4050", "-", function() {
                removeUser(index);
            });
        }

        function addAddUser(elem, index) {
            addBtn(elem, "#A4CC35", "+", function() {
                addUser(index);
            });
        }

        function removeScope(uindex, index) {
            window.data.Users[uindex].Scope.splice(index, 1);
            updateContent();
        }

        function addScope(uindex) {
            window.data.Users[uindex].Scope.splice(0, 0, "");
            updateContent();
        }

        function addRemoveScope(elem, uindex, index) {
            addBtn(elem, "#FF4050", "-", function () {
                removeScope(uindex, index);
            });
        }

        function addAddScope(elem, uindex) {
            addBtn(elem, "#A4CC35", "+", function () {
                addScope(uindex);
            });
        }

        function upUser(index){
            let tmp = window.data.Users[index-1];
            window.data.Users[index-1] = window.data.Users[index];
            window.data.Users[index] = tmp;
            updateContent();
        }

        function addUpUser(elem, index) {
            addBtn(elem, "#66BFFF", "↑", function () {
                upUser(index);
            });
        }

        function addFieldDataPair(elem, field, data, fn){
            let f = document.createElement("div");
            f.innerText = '"'+field+'": ';
            f.className = "name";
            elem.appendChild(f);
            elem.appendChild(document.createTextNode('"'));
            let d = document.createElement("input");
            d.value = data;
            d.onchange = fn;
            elem.appendChild(d);
            elem.appendChild(document.createTextNode('",'));
            elem.appendChild(document.createElement("br"));
        }

        function updateContent() {
            const content = document.getElementById("content");
            content.innerHTML = "";
            let users = document.createElement("div");
            users.innerText = "\"Users\"";
            users.className = "name";
            content.appendChild(users);
            content.appendChild(document.createTextNode(": ["));

            let i = 0;
            for (i = 0; i < window.data.Users.length; i++) {
                addAddUser(content, i);

                let brackets = document.createElement("div");
                brackets.style.marginLeft = "2em";
                brackets.appendChild(document.createTextNode("{"));

                addRemoveUser(brackets, i);
                if(i > 0) {
                    addUpUser(brackets, i);
                }

                let indent = document.createElement("div");
                indent.style.marginLeft = "2em";

                const tmp = i;
                addFieldDataPair(indent, "Email", window.data.Users[tmp].Email, function () {
                    window.data.Users[tmp].Email = this.value;
                });
                addFieldDataPair(indent, "Pw", window.data.Users[tmp].Pw, function () {
                    window.data.Users[tmp].Pw = this.value;
                });
                let s = document.createElement("div");
                s.innerText = "\"Scope\"";
                s.className = "name";
                indent.appendChild(s);
                indent.appendChild(document.createTextNode(": ["));
                addAddScope(indent, i);
                indent.appendChild(document.createElement("br"));

                let scope = document.createElement("div");
                scope.style.marginLeft = "2em";
                for (let j = 0; j < window.data.Users[i].Scope.length; j++) {
                    scope.appendChild(document.createTextNode('"'));
                    let input = document.createElement("input");
                    input.value = window.data.Users[i].Scope[j];
                    const tmp2 = j;
                    input.onchange = function() {
                        window.data.Users[tmp].Scope[tmp2] = this.value;
                    };
                    scope.appendChild(input);
                    scope.appendChild(document.createTextNode('",'));
                    addRemoveScope(scope, i, j);
                    scope.appendChild(document.createElement("br"));
                }
                indent.appendChild(scope);

                indent.appendChild(document.createTextNode("]"));

                brackets.appendChild(indent);

                brackets.appendChild(document.createTextNode("},"));
                content.appendChild(brackets);
            }
            addAddUser(content, i);

            content.appendChild(document.createTextNode("]"));
        }

        let saved = document.getElementById("saved");

        function save() {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            let data = JSON.stringify(window.data);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    if (xhr.responseText === "OK"){
                        saved.style.display = "inline";
                        saved.style.color = "#A4CC35";
                        setTimeout(function () {
                            saved.style.color = "#A4CC3500";
                            setTimeout(function () {
                                saved.style.display = "none";
                            }, 1000);
                        }, 1000);
                    }
                }
            };
            xhr.send(data);
        }

        updateContent();
    </script>
</body>
</html>