html {
    background-color: #282629;
    color: #FFFCFF;
    scroll-behavior: smooth;
    scrollbar-color: #474247 #282629;
}
::-webkit-scrollbar { /* Chrome workaround */
    background-color: #282629;
}
::-webkit-scrollbar-thumb {
    background-color: #474247;
}
a:link {
    color: #66BFFF;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #CC78FA;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #26C99E;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #A4CC35;
    background-color: transparent;
    text-decoration: underline;
}

input, button, .button {
    background-color: #656066;
    color: #FFFCFF;
    border: 0.1em #282629;
    border-radius: 1em;
    padding: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.2em;
}