<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/res/defTheme.css" />
    <link rel="icon"
          type="image/png"
          href="/res/favicon.png" />
    <meta name="theme-color" content="#282629" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap" rel="stylesheet">
    </noscript>
    <script>
        window.onload = function() {
            let css = document.createElement("link");
            css.rel = "stylesheet";
            css.href = "https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto&display=swap";
            css.type = "text/css";
            document.head.appendChild(css);
        }
        window.username = "{{.Username}}"
    </script>
    <title>Mike's website</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: column;
            font-family: 'Fira Code', monospace;
            font-size: 12pt;
            justify-items: center;
            transition: all 0.2s;
        }
        html, body {
            height: 100%;
        }
        html {
            background-color: #282629;
            color: #FFFCFF;
            scroll-behavior: smooth;
            scrollbar-color: #656066 #474247;
        }
        ::-webkit-scrollbar { /* Chrome workaround */
            background-color: #474247;
        }
        ::-webkit-scrollbar-thumb {
            background-color: #656066;
        }
        #terminal {
            flex: 0 1 auto;
            display: flex;
            flex-flow: column;
            box-shadow: 0 0 7px 3px rgba(0,0,0,0.6);
            background-color: #474247;
            border: #474247;
            width: auto;
            border-radius: 0.2em;
            max-height: 100%;
            overflow: hidden;
            margin: 1em;
            height: 100%;
            transition: all 0.5s;
        }
        #ctrl {
            flex: 0 1 auto;
            margin: 0;
            padding: 0.1em;
            padding-left: 0.5em;
            padding-right: 0.5em;
            font-family: 'Roboto', sans-serif;
            background-color: #656066;
            border-radius: 0.2em 0.2em 0 0;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: space-between;
        }
        #terminal-inner {
            flex: 0 1 auto;
            padding: 1em;
            padding-top: 0;
            transition: all 0.5s;
            max-height: 100%;
            overflow-y: scroll;
        }
        .dot {
            height: 0.9em;
            width: 0.9em;
            margin-left: 0.3em;
            background-color: #00a4ec;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
        }
        #name, #btns, .cmd, .prompt {
            display: flex;
        }
        .prompt {
            margin-right: 1em;
            color: #A4CC35;
        }
        .cmd {
            color: #26C99E;
        }
        #btns {
            display: flex;
        }
        .command {
            display: flex;
            align-items: center;
            justify-items: left;
            margin-top: 0.5em;
        }
        .response {
            margin: 0;
            padding: 0;
        }
        #in {
            width: 100%;
            margin: 0;
            height: 1.1em;
            padding: 0;
            border: none;
            background-color: #00000000;
            font-family: 'Fira Code', monospace;
            font-size: 12pt;
            color: #26C99E;
        }
    </style>
</head>
<body class="center shadow">
<div id="terminal">
    <div id="ctrl">
        <div id="name">MikeTerminal</div>
        <div id="btns">
            <span class="dot" style="background-color: #FFD24A;" onclick="alert('You cannot minimize me!')"></span>
            <span class="dot" style="background-color: #A4CC35;" onclick="document.documentElement.requestFullscreen()"></span>
            <span class="dot" style="background-color: #FF4050;" onclick="window.rick()"></span>
        </div>
    </div>
    <div id="terminal-inner">
        <div id="outputs">
        </div>
        <div class="command">
            <div class="prompt" id="inPrompt"></div>
            <input aria-labelledby="inPrompt" type="text" id="in">
        </div>
    </div>
</div>
</body>
<script>
    let input = document.getElementById("in");

    let promptText = window.username+"@"+window.location.hostname+":~$";
    document.getElementById("inPrompt").innerText = promptText;

    let innerTerm = document.getElementById("terminal-inner");
    let outs = document.getElementById("outputs");
    function addResp(cmd, resp) {
        let o = document.createElement("div");
        o.className = "output";
        let c = document.createElement("div");
        c.className = "command";
        let cm = document.createElement("div");
        cm.className = "cmd";
        cm.innerText = cmd;
        let prompt = document.createElement("div");
        prompt.className = "prompt";
        prompt.innerText = promptText;
        c.appendChild(prompt);
        c.appendChild(cm);
        let r = document.createElement("pre");
        r.className = "response";
        r.innerHTML = resp;
        o.appendChild(c);
        o.appendChild(r);
        outs.appendChild(o);
        innerTerm.scrollTo({
            top: outs.scrollHeight,
            behavior: "smooth",
        });
        setTimeout(function () { // Chrome workaround
            input.focus({preventScroll: true});
        }, 1);
    }

    const http = new XMLHttpRequest();
    const url = "/shell";
    function send(str, after){
        input.disabled = true;
        http.open("POST", url, true);
        http.send(str);
        http.onreadystatechange = function (){
            if (http.readyState === 4 && http.status === 200){
                addResp(input.value, http.responseText);
                input.value = "";
                input.disabled = false;
                if (after)
                    after();
            }
        }
    }

    input.value = "";
    function type(str, after) {
        if (str.length === 0){
            send(input.value, after);
            return;
        }
        input.value += str.substring(0,1);
        setTimeout(type, 50, str.substring(1), after)
    }
    setTimeout(function () {
        type("cat welcome.txt", function () {
            type("ls", function () {
                type("uname", function () {
                    {{if .Onion}}
                    type("cat onion.txt");
                    {{end}}
                });
            });
        });
    }, 100);
    input.onkeypress = function (ev) {
        if (ev.key === "Enter") {
            send(input.value);
        }
    };
    input.focus();
    window.rick = function () {
        document.getElementById("terminal").innerHTML = '<iframe width="100%" height="100%" src="/res/rick.mp4" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><a style="width: 100%; text-align: center;" href="/">Go back</a>';
    }
</script>
</html>