{{define "pie"}}
    <div class="chart">
        <h3>{{.Name}}</h3>
        <svg viewBox="-1.1 -1.1 2.2 2.2" style="transform: rotate(-0.25turn);">
            <circle fill="{{.Color}}" r="1"></circle>
            {{range .Elems}}
                <path stroke="#474247" stroke-width="0.03" stroke-linecap="round" fill="{{.Color}}" d="M {{.Start}} A 1 1 0 {{.Large}} 1 {{.Stop}} L 0 0">
                    <title>
                        {{.Name}}: {{.Amount}}
                    </title>
                </path>
                <defs>
                    <path id="{{.Name}}" d="M {{.StartTxt}} A 0.8 0.8 0 {{.Large}} 1 {{.StopTxt}}"></path>
                </defs>
                <text style="font-size: 0.1pt;">
                    <textPath xlink:href="#{{.Name}}" startOffset="50%" text-anchor="middle">
                        {{.Name}}
                    </textPath>
                </text>
            {{end}}
            <circle stroke="#656066" stroke-width="0.03" fill="#00000000" r="1"></circle>
        </svg>
        <div class="chartInner">
            {{range .Elems}}
                <div>
                    <span class="circle" style="background-color:{{.Color}};"></span> {{.Name}}: {{.Amount}} ({{printf "%.2f" .Percent}}%)
                </div>
            {{end}}
        </div>
    </div>
{{end}}