<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
    <link rel="stylesheet" type="text/css" href="/res/defTheme.css" />
    <link rel="icon"
          type="image/png"
          href="/res/favicon.png" />
    <meta name="theme-color" content="#282629" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        window.onload = function() {
            let css = document.createElement("link");
            css.rel = "stylesheet";
            css.href = "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
            css.type = "text/css";
            document.head.appendChild(css);
        }
    </script>
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </noscript>
    <style>
        body {
            font-family: Roboto, sans-serif;
        }
        svg {
            height: 12em;
            width: 12em;
        }
        .circle {
            height: 0.9em;
            width: 0.9em;
            border-radius: 100%;
            display: inline-block;
        }
        .root {
            display: flex;
            flex-direction: row;
            flex-flow: row wrap;
            margin: 0;
            width: 100%;
        }
        .chart {
            display: inline-block;
            margin: 2em;
            float: left;
        }
        .chartInner {
            max-height: 9em;
            overflow: scroll;
        }
    </style>
</head>
<body class="root">
    {{range .Charts}}
        {{template "pie" .}}
    {{end}}
    <div class="chart">
        <h3>
            Misc. info
        </h3>
        All requests: {{.Requests}} <br>
        Average request time: {{printf "%.2f" .AvgTime}}s
    </div>
</body>
</html>